.introducaoManifesto {
  margin-bottom: 96px;
}

.introducaoManifestoConteudo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-items: flex-end;
  position: relative;
}

.introConteudoEscrito {
  padding-top: 104px;
}

.introConteudoEscrito h1 {
  color: var(--color-primary);
  text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
  position: relative;
}

.introConteudoEscrito h1::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0px;
  bottom: -32px;
}

.introConteudoEscrito p {
  color: var(--color-primary);
  font-size: 1.2rem;
  line-height: 180%;
  max-width: 620px;
  margin-bottom: 52px;
}

.imagemIntro {
    position: absolute;
    top: 57px;
    right: -60px;
}

.itensManifesto {
  margin-bottom: 120px;
}

.conteudoColorido {
  background: linear-gradient(to right, #ffffff 11%, rgba(45, 100, 113, 0.1) 11%);
  padding: 64px 0 64px 120px;
}

.conteudoColorido h2 {
  margin-bottom: 40px;
  color: var(--color-primary);
}

.conteudoBranco {
  padding: 64px 0 64px 120px;
}

.conteudoBranco h2 {
  margin-bottom: 40px;
  color: var(--color-primary);
}

.conteudoColorido p, .conteudoBranco p {
  max-width: 1000px;
  font-size: 1.1rem;
  line-height: 160%;
  color: var(--color-primary);
}

.buttonDiv {
  position: relative;
  padding-left: 35px;
}

@media (max-width: 1300px) {
  .introducaoManifestoConteudo {
    grid-template-columns: 1.2fr 1fr;
  }

  .introConteudoEscrito p, .conteudoColorido p, .conteudoBranco p {
    font-size: 1rem;
  }

  .imagemIntro {
    width: 39%;
  }

}

@media (max-width: 1100px) {
  .introducaoManifestoConteudo {
    grid-template-columns: 1.4fr 1fr;
  }

  .introConteudoEscrito p, .conteudoColorido p, .conteudoBranco p {
    font-size: 1rem;
    max-width: 93%;
  }

  .imagemIntro {
    width: 35%;
    top: 115px;
    right: -35px;
  }

}

@media (max-width: 1000px) {
  .introducaoManifesto {
    margin-bottom: 16px;
  }

  .introConteudoEscrito {
    padding-top: 64px;
  }

  .introducaoManifestoConteudo {
    grid-template-columns: 1fr;
    justify-items: left;
    width: 100%;
  }

  .introducaoManifestoConteudo h1 {
    max-width: 500px;
  }

  .imagemIntro {
    display: none;
  }

  .conteudoColorido p, .conteudoBranco p {
    max-width: 91%;
  }

  .buttonDiv {
    margin-top: -30px;
  }  
}

@media (max-width: 800px) {
  .introducaoManifestoConteudo h1 {
    max-width: 500px;
  }

  .conteudoColorido h2, .conteudoBranco h2 {
    max-width: 85%;
  }
}

@media (max-width: 660px) {
  .conteudoColorido {
    background:rgba(45, 100, 113, 0.1);
    padding-left: 0px;
  }

  .conteudoBranco {
    padding-left: 0px;
  }

  .conteudoColorido p, .conteudoBranco p, .conteudoColorido h2, .conteudoBranco h2 {
    max-width: 100%;
  }

  .buttonDiv {
    padding-left: 0px;
    margin-right: 50px;
  }
}
