.divButtonOrangeText {
    grid-column: 2;
    justify-self: center;
    margin-top: 60px;
}

.divButtonOrangeText:hover img {
    transform: translateX(5px);
    transition: transform 0.5s ease;
}

.buttonOrangeText {
    background: none;
    border: none;
    padding: 10px 12px 10px 24px;
    color: var(--color-secondary);
    position: relative;
}

.buttonOrangeText::after {
    content: "";
    background-color: var(--color-secondary);
    width: 92%;
    height: 2px;
    position: absolute;
    top: 40px;
    left: 25px;
}

.divButtonOrangeText img {
    transition: transform 0.3s ease;
}
