footer {
  background: linear-gradient(to right, rgba(14, 60, 88, 1), rgba(14, 60, 88, 0.85));
  height: 440px;
}

.footerContent {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 500px;
  padding: 88px 0 88px 0;
}

.footerContent h4 {
  color: var(--gray-scale-0);
  margin-bottom: 40px;
}

.links {
  display: flex;
  gap: 24px;
}

.links a {
  transition: 0.2s ease-in-out;
}

.links a:hover {
  transform: scale(1.2);
}

footer p {
  color: var(--gray-scale-2);
  margin-bottom: 16px;
}

footer p:nth-child(3) {
  margin-bottom: 48px;
}

.lastParagraph {
  display: flex;
  padding-left: 38px;
}

@media (max-width: 1300px) {
  .footerContent {
    gap: 290px;
  }
}

@media (max-width: 1100px) {
  footer {
    height: 100%;
  }

  .footerContent p, .footerContent h4 {
    text-align: center;
  }

  .footerContent {
    display: grid;
    gap: 100px;
    padding: 0;
  }

  .links {
    justify-content: center;
  }

  .footerLogo {
    display: none;
  }

  .lastParagraph {
    justify-content: center;
    padding: 0;
    margin-top: 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .lastParagraph {
    font-size: 0.85rem;
    margin-top: 60px;
  }
}
