* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --type-first: "Open Sans", sans-serif;
  --type-second: "Roboto", sans-serif;
  --type-third: "Merriweather Sans", sans-serif;
  --color-primary: #0E3C58;
  --color-secondary: #FE5218;
  --gray-scale-0: #FFFFFF;
  --gray-scale-1:#DEDEDE;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container1 {
  max-width: 1120px;
  margin: 0 auto;
}
