* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --type-first: "Open Sans", sans-serif;
    --type-second: "Roboto", sans-serif;
    --type-third: "Merriweather Sans", sans-serif;
    --color-primary: #0E3C58;
    --color-secondary: #FE5218;
    --color-terciary: #0AC2F4;
    --gray-scale-0: #FFFFFF;
    --gray-scale-1:#DEDEDE;
    --gray-scale-2:#CCCCCC;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-family: var(--type-first);
    font-size: 3.5rem;
    line-height: 130%;
}

h2 {
    font-family: var(--type-first);
    font-size: 2.25rem;
    line-height: 130%;
}

h3 {
    font-family: var(--type-first);
    font-size: 1.6rem;
}

h4 {
    font-family: var(--type-first);
    font-weight: 600;
    font-size: 1.1rem;
}

h5 {
    font-family: var(--type-second);
    font-size: 1.1rem;
}

p {
    font-family: var(--type-second);
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-size: 1.03rem;
    font-family: var(--type-first);
    font-weight: 600;
    cursor: pointer;
}

.container1 {
    max-width: 1120px;
    margin: 0 auto;
}

@media (max-width: 1300px) {
    .container1 {
        max-width: 900px;
    }

    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 1100px) {
    .container1 {
        max-width: 800px;
    }
}

@media (max-width: 1000px) {
    .container1 {
        max-width: 685px;
    }
}

@media (max-width: 800px) {
    .container1 {
        max-width: 570px;
    }
}

@media (max-width: 660px) {
    .container1 {
        max-width: 500px;
    }
}

@media (max-width: 575px) {
    .container1 {
        max-width: 430px;
    }
}

@media (max-width: 500px) {
    .container1 {
        max-width: 390px;
    }
}

@media (max-width: 450px) {
    .container1 {
        max-width: 360px;
    }
}

@media (max-width: 420px) {
    .container1 {
        max-width: 330px;
    }
}

@media (max-width: 390px) {
    .container1 {
        max-width: 300px;
    }
}
